
:root {
  
    --main-color:#6D929B;
    --accent-color: #5a8ec2 ;
    --accent-color2:rgb(195, 193, 193);

    font-size: 100%;
    
}

/* Header Styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(110, 110, 174), blue, rgb(18, 18, 85));
    color: white;
}

/* H1 Styling */
h1{
padding: 1%;
}

/* Page Section */
#page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: ;
}
/*  */
aside {
    padding: 1%;
    width: 20%;
}

main {
    width: 75%;
    padding-left: 1%;
    padding-right: 10%;
}

/* City Form Styling */
#city-form{
    display: flex;
    flex-direction: column;
}

/* h2 Styling */
h2 {
    font-weight: bold;
}

/* Remove bullet points in lists */
ul{
    list-style-type: none;
}

/* Button Styling */
.btn {
    background-color: var(--accent-color2);
    border-color: var(--accent-color2); 
}

/* Search Button Styling */
#searchbtn {
    background-color: var(--accent-color);
    border-color: var(--accent-color); 
    color: var(--accent-color2);
}

/* Current Weather Container Styling */
#current-weather {
    margin: 2%;
    border: 2px solid ;
}