
:root {
  
    --main-color:#6D929B;
    --accent-color: #5a8ec2 ;
    --accent-color2:rgb(195, 193, 193);

    font-size: 100%;
    
}

/* Header Styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(110, 110, 174), blue, rgb(18, 18, 85));
    color: white;
}

/* H1 Styling */
h1{
padding: 1%;
}

/* Page Section */
#page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: ;
}
/*  */
aside {
    padding: 1%;
    width: 20%;
}

main {
    width: 75%;
    padding-left: 1%;
    padding-right: 10%;
}

/* City Form Styling */
#city-form {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 2%;
} 

/* Add line after form before city-list */
#city-list {
    padding: 2%;
    margin: 5%;
    border-top: 10px gray;
}

li {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* h2 & h3 bold font styling */
h2, h3 {
    font-weight: bold;
    margin: 0.5%;
}



/* Remove bullet points in lists */
ul{
    list-style-type: none;
}

/* Button Styling */
.btn {
    background-color: var(--accent-color2);
    border-color: var(--accent-color2); 
    color: black;
    width: 100%;
}

/* Search Button Styling */
#searchbtn {
    background-color: var(--accent-color);
    border-color: var(--accent-color); 
    color: var(--accent-color2);
}

/* Current Weather Container Styling */
#current-weather {
    margin: 2%;
    border: 2px solid ;
}

/* Styling to have the City Title and Current Date on same line within Current Weather Container */
#current-weather-titles {
    display: flex;
    flex-direction: row;
}

/* margin for city detail paragraphs to be aligned with city title margin */
p.city-details {
    margin: 0.5%;
}

/* Forecast Container Styling */
#forecast {
    margin: 2%;
}